---
import Layout from "@/layouts/Layout.astro";
import { Button } from "@/components/ui/button"
---

<Layout title="Astro + TailwindCSS + Shadcn UI + TypeScript + React + Supabase + Gemini API">
	<div class="grid place-items-center h-screen content-center">
		<h1 class="text-3xl font-bold underline">
			Astro + TailwindCSS + Shadcn UI + TypeScript + React + Supabase + Gemini API
		</h1>
		<Button variant="default">Button</Button>
	</div>
</Layout>